body {
	font-family: 'Lora', serif;
}

.containar {
	width: 850px;
	margin: 0 auto;
}

.containar2 {
	border-bottom: 2px solid #e6e6ed;
}

/*HEADER*/

.header-logo {
	background: linear-gradient(to bottom, #769715, #99cc01);
	height: 90px;
}

#logo-img {
	background: url('../image/image6.png') no-repeat;
	height: 25px;
    width: 205px;
    position: relative;
    top: 32px;
    left: 30px;
}

nav {
	margin-left:14px;
}

ul {
	list-style: none;
	overflow: hidden;
}

li {
	float: left;
	display: inline;
}

a {
	text-decoration: none;
	color: #093500;
	font-size: 20px;
	text-shadow: 1px 1px 1px #D2CFCF;
}

li:before {
	content: url('../image/img3.png');
	margin: 0 35px;
}

li:first-child:before {
    content:"";
    margin: 0;
}
/*END HEADER*/

/*BANNER*/

.banner {
	padding: 10px;
	background-color: #edeffb;
	height: 180px;
}
.greeting {
	float: left;
}

h1{
	font-weight: normal;
	color: #093500;
	margin-top: 5px;
	font-family: 'Quicksand', sans-serif;
	text-shadow: 1px 1px 1px #D2CFCF;
}

.saturation {
	font-weight: bold;
}

.banner-text {
	text-align: left;
	font-size: 12px;
	position: relative;
	left: 40px;
	margin-bottom: 0;
	line-height: 1.5;
}

.containar1 {
	height: 76px;
	width: 700px;
}

b {
	color: #80a60f;
}
/*END BANNER*/

/*SECTION 1*/

.about-our-lab {
	width: 290px;
	float: left;
}

.title-section {
	font-size: 19px;
	text-shadow: 1px 1px 1px #D2CFCF;
	font-weight: normal;
}

.line1 {
	border-right: 2px solid #e6e6ed;
	margin-right: 5px;
	padding-left: 25px;
	padding-right: 25px;
	height: 270px;
	font-size: 12px;
}
/*END SECTION 1*/

/*SECTION 2*/

.research {
	font-size: 12px;
	/*line-height: 1.5;*/
	width: 492px;
	float:right;
	padding: 34px;
	padding-bottom: 0;
}

.testing {
	float:left;
	margin-bottom: 30px;
	margin-right: 20px;
}

.research .title-section {
	margin: 0;
}

.research-block {
	border-bottom: 2px solid #e6e6ed;
	margin-bottom: 20px;
}

.research :last-child {
	border-bottom: 0px;
}

.line {
	clear: both;
	border-bottom: 5px solid #e6e6ed;
}
/*END SECTION 2*/

.footer {
	padding-left: 36px;
	font-size: 10px;
}





















